header(class=`header ${headerClass} js-header-container`)
  .container
    .header__head.header__head--mobile.js-header-content
      // клон логотипа для мобильной версии сайта
      .header__logo
        a.header__link.logotype(href="/")
          img(src= "../../assets/img/logo.svg", alt= "Логотип", width="216", height="52")

      button.header__link.burger#burger-btn(type="button", aria-label="Открыть меню", title="Открыть меню")
        span

    .header__head.header__head--desctop.js-header-content
      nav.header__menu.main-menu
        ul.main-menu__list
          for text, link in {agent: "Контрагентам", design: "Дизайнерам", job: "Вакансии"}
            li
              a.header__link.main-menu__link(href= `#${link}`)= text

      .header__logo
        a.header__link.logotype(href="/")
          img(src= "../../assets/img/logo.svg", alt= "Логотип", width="216", height="52")

      .header__profile.profile
        ul.profile__list
          li
            button.header__link.profile__btn.profile__btn--search(type="button", data-modal-id="modal-search")
              +extSvgSprite("search", 24, 24)
              span Поиск
          li
            // после login-а клиета показать иконку svg и вместо "Вход/Регистрация" имя клиента
            a.header__link.profile__btn(href="#account", data-modal-id="modal-singin")
              // <svg width="24" height="24" aria-hidden="true"> <use xlink:href="/assets/img/svg-sprite.svg#account"></use></svg>
              span Вход/Регистрация
        ul.profile__list.profile__list--account
          li
            a.header__link.profile__btn(href="#basket", title="Корзина")
              +extSvgSprite("basket", 24, 24)
              span.visually-hidden Корзина
          li
            a.header__link.profile__btn(href="#like", title="Избранное")
              +extSvgSprite("like", 24, 24)
              span.visually-hidden Избранное

      .header__social
        ul.social.social--header
          -
            var socialData = [
              {name: "youtube", size: 26},
              {name: "vkontakte", size: 24},
              {name: "facebook", size: 26},
              {name: "telegram", size: 24},
              {name: "etsy", size: 16}
            ]
          for data in socialData
            li
              a.header__link.social__link(href=`#${data.name}`, target="_blank", title=`${data.name}`, rel="noopener noreferrer")
                +extSvgSprite(`${data.name}`, `${data.size}`, `${data.size}`)
                span.visually-hidden #{data.name}
