extends ../layout/default.pug

block vars
  - var headerClass = 'header--inner-page'
  - var productInCatalogCount = 6
  - var isShowMoreProductBtn = true

block title
  title Каталог

block content

  main
    .container
      section.catalog-filter
        form.catalog-filter__form.js-catalog-filter-form(action="/", method="POST", name="catalog-filter")
          -
            var catalogFilterData = [
              {name: "brand", title: "Бренд", options: ["Calvin Klein", "Dolce & Gabanna", "Giorgio Armani"]},
              {name: "price", title: "Цена", options: ["Дешевые в начале", "Дорогие в начале"]},
              {name: "whom", title: "Для кого", options: ["Мужчины", "Женщины", "Дети"]},
              {name: "collection", title: "Колекция", options: ["Бестселлеры", "Шоу-писы"]},
              {name: "season", title: "Сезон", options: ["Весна", "Лето", "Зима", "Осень"]},
              {name: "event", title: "Событие", options: ["День рожения", "Корпоратив", "Свадьба"]},
            ]
          for data in catalogFilterData
            p.catalog-filter__item
              select.catalog-filter__select(size="1", name=`${data.name}[]`)
                option(value=`${data.name}-0`, selected)= `${data.title}`
                for optionItem, index in data.options
                  option(value=`${data.name}-${index + 1}`)= `${optionItem}`

          input.js-catalog-current-page(type="hidden", name="catalog-page", value="0")

          button.visually-hidden(type="submit", tabindex="-1") Фильтровать

      section
        include ../includes/product-list.pug

      include ../includes/advantage.pug

    include ../includes/subscribe.pug
