extends ../layout/default.pug

block vars
  - var isInnerPage = true
  - var productInCatalogCount = 6

block title
  title Каталог

block content

  main
    .container
      section.catalog-filter
        form.catalog-filter__form.js-catalog-filter-form#catalog-filter-form(action="./", method="get", name="catalog-filter")
          -
            var catalogFilterData = [
              {name: "brand", title: "Бренд", options: ["Versacci", "Trebbo", "Jewelry for you family", "VIP ghoret", "Dolce & Gabanna"]},
              {name: "price", title: "Цена"},
              {name: "whom", title: "Для кого", options: ["Мужчины", "Женщины", "Дети"]},
              {name: "collection", title: "Колекция", options: ["Бестселлеры", "Шоу-писы"]},
              {name: "season", title: "Сезон", options: ["Весна", "Лето", "Зима", "Осень"]},
              {name: "event", title: "Событие", options: ["День рождения", "Корпоратив", "Свадьба"]},
            ]

          for data in catalogFilterData
            //- flex и grid не поддерживаются на fieldset в Edge, поэтому замена на div
            .select-field.js-field-container
              button.select-field__title.js-field-show-btn(type="button", aria-expanded="false", aria-controls=`filter-${data.name}`)= `${data.title}`
              .select-field__inner.collapsed.js-field-swap-block(id=`filter-${data.name}`)
                if (data.name === 'price')
                  p.select-field__item
                    label.select-field__label(for="price-low") От
                    input.select-field__text(id="price-low", name="price-low", type="number", min="0", step="1", placeholder="10")
                    span.select-field__unit тыс. руб.
                  p.select-field__item
                    label.select-field__label(for="price-up") До
                    input.select-field__text(id="price-up", name="price-up", type="number", min="0", step="1", placeholder="1000")
                    span.select-field__unit тыс. руб.
                else
                  for text, index in data.options
                    p.select-field__item
                      input.visually-hidden(id=`${data.name}-${index + 1}`, name=`${data.name}-${index + 1}`, type="checkbox")
                      label.select-field__checkbox(for=`${data.name}-${index + 1}`)= `${text}`
                .select-field__btn-group
                  button.select-field__btn-reset.js-field-btn-reset(type="reset") Очистить
                  button.select-field__btn-submit.js-field-btn-submit(type="submit") Показать
          input.js-catalog-current-page(type="hidden", name="catalog-page", value="0")

          .catalog-filter__btn-group
            button.select-field__btn-reset(type="reset") Очистить
            button.select-field__btn-submit(type="submit") Показать

      section.product-catalog
        include ../includes/product-list.pug

      .catalog-filter__more-btn-wrap
        a.button.js-catalog-more-btn(href="catalog.html?page=0") Покажите еще

      include ../includes/advantage.pug

    include ../includes/subscribe.pug
